<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mammut.Web</title>
    <link rel="stylesheet" href="~/app.css" asp-append-version="true" />
    <script src="~/app.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>