@page
@model Mammut.Web.Pages.Account.Login

<section class="grid h-screen w-screen place-items-center bg-slate-600">
    <div class="rounded-lg bg-white drop-shadow p-2">
        Welcome to Mammut
    </div>
</section>